<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.MemorySeedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.nabr.chatwithchat.DEBUG_SEED_MEMORY_CHAT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
